<?xml version="1.0" encoding="UTF-8"?>  
<Configuration status="WARN">  
    <Appenders>  
        <Console name="Console" target="SYSTEM_OUT" follow="true">  
            <PatternLayout>  
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>  
            </PatternLayout>  
        </Console>  
        <File name="File" fileName="D:/cas-log/processAdmin/processAdmin.log">  
            <PatternLayout>  
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>  
            </PatternLayout>  
        </File>  
    </Appenders>  
    <Loggers>  
        <Logger name="org.apache.catalina.util.LifecycleBase" level="error" />  
        <Logger name="org.apache.coyote.http11.Http11NioProtocol" level="warn" />  
        <Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn" />  
        <Logger name="org.hibernate.validator.internal.util.Version" level="warn" />  
        <Logger name="org.springframework" level="warn" />  
        
        <logger name="y9.autoConfiguration" level="DEBUG" />
		<logger name="net.risesoft" level="info" />
		<logger name="org.flowable" level="DEBUG" />
		<logger name="org.mongodb" level="WARN" />
		<logger name="org.hibernate" level="WARN" />
        <Root level="WARN">  
            <AppenderRef ref="Console" />  
        </Root>  
    </Loggers>  
</Configuration>