# Build and Release Folders
target/

# Eclipse
.settings/
*.classpath
*.project
*.factorypath

# IntelliJ IDEA
.idea
*.iml

# vscode
.vscode

# JRebel
rebel.xml

# macOS
.DS_Store

# svn
.svn/

# vue
node_modules/
vue/y9vue-flowableUI/flowableUI/
vue/y9vue-itemAdmin/itemAdmin/

.flattened-pom.xml