.ql-toolbar {
  line-height: 1.5 !important;
}

.ql-editor {
  min-height: 200px;
  font-size: v-bind('fontSizeObj.mediumFontSize');

  img{
    max-width: 100%;
  }
}

.ql-container{
  height: auto;
}
