/* CSS Document */ /* CSS Document 二级页面样式 有生软件 */
body {
	margin: 0px;
	padding: 0px;
}

body,td,th {
	font-family: 宋体;
	font-size: 12px;
	color: #000000;
}

.er_table {
	border: 1px solid #9EC2D8;
	vertical-align: top;
	background-color: #FFFFFF;
}

.er_title {
	background-image: url(../images/mimages/er_title_back.gif);
	background-repeat: repeat-x;
	height: 27px;
}

.er_title_font {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #2772AC;
	letter-spacing: 1px;
}

.er_title a:hover {
	display: block;
	text-align: left;
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-indent: 20px;
	text-decoration: none;
	border: 1px solid #F3A556;
	height: 18px;
	background-color: #FFF0FF;
	padding-right: 3px;
}

.but_lc,.but_dk,.but_bc,.but_xz,.but_fs,.but_fh,.but_bz {
	height: 20px;
	width: auto;
	display: block;
	text-align: left;
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	line-height: 20px;
	text-indent: 20px;
	float: right;
	margin-right: 3px;
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-right: 5px;
}

.but_lc {
	background-image: url(../images/mimages/icon_lc.gif);
}

.but_dk {
	background-image: url(../images/mimages/icon_dk.gif);
}

.but_bc {
	background-image: url(../images/mimages/icon_bc.gif);
}

.but_xz {
	background-image: url(../images/mimages/icon_xz.gif);
}

.but_fs {
	background-image: url(../images/mimages/icon_fs.gif);
}

.but_fh {
	background-image: url(../images/mimages/icon_fh.gif);
}

.but_bz {
	background-image: url(../images/mimages/icon_bz.gif);
}

.er_sousuo {
	background-color: #F5F9FC;
	padding: 5px;
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
}

.er_sousuo div {
	display: block;
	float: left;
	height: 24px;
	width: auto;
	margin-right: 15px;
}

.er_sousuo input {
	background-color: #FFFFFF;
	border: 1px solid #9EC2D8;
}

.but_back1,.but_back2 {
	background-image: url(../images/mimages/but_back1.gif);
	background-repeat: repeat-x;
	height: 20px;
	border: 1px solid #F3A556;
	background-position: center;
	font-family: "宋体";
	font-size: 12px;
	letter-spacing: 2px;
	text-align: center;
}

.but_back1 {
	background-image: url(../images/mimages/but_back1.gif);
	color: #DB5A15;
}

.but_back2 {
	background-image: url(../images/mimages/but_back2.gif);
	color: #2772AC;
}

.right2_title3 {
	background-image: url(../images/mimages/right_title3_back.gif);
	background-repeat: repeat-x;
	height: 23px;
	text-align: center;
	color: #9EC2D8;
}

.right2_title3_l {
	background-image: url(../images/mimages/right_title3_l.gif);
	background-repeat: no-repeat;
	background-position: right;
}

.li2_td_center {
	height: 20px;
	padding-top: 4px;
	text-align: center;
}

.li2_td_left {
	height: 20px;
	padding-top: 4px;
	padding-left: 4px;
}

.page_back {
	background-image: url(../images/mimages/right_page_back.gif);
	background-repeat: repeat-x;
	height: 26px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9EC2D8;
	letter-spacing: 1px;
}

.right2_table_input {
	border: 1px solid #B6B6B6;
	height: 12px;
}

table.simple {
	padding: 0px;
	margin: 0px;
	border: 1px solid #B8DFFC;
	border-collapse: collapse;
	width: 100%;
}

table.simple thead {
	background-image:
		url("/themes/blue/images/mimages/right_title3_back.gif");
	background-repeat: repeat-x;
	color: #9EC2D8;
	text-align: center;
}

table.simple thead tr {
	height: 26px;
}

table.simple td {
	border: 1px solid #B8DFFC;
	padding: 5px;
}

table.simple tr.even {
	background-color: #F4F9FF;
}

table.simple tr.odd {
	background-color: #FFFFFF;
}

table.nocol tbody td,table.nocol tbody th {
	border-left: none;
	border-right: none;
}

th {
	padding: 2px 4px 2px 4px !important;
	text-align: center;
	vertical-align: middle;
}

thead tr {
}

th.sorted {
	
}

th a,th a:visited {
	color: black;
	
}

th a:hover {
	text-decoration: underline;
	color: black;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	background-image: url(../../../commons/css/img/arrow_off.png);
	background-repeat:  no-repeat;
}

th.order1 a {
	background-image: url(../../../commons/css/img/arrow_down.png);
	background-repeat:  no-repeat;
}

th.order2 a {
	background-image: url(../../../commons/css/img/arrow_up.png);
	background-repeat:  no-repeat;
}

.risenet_B td {
	padding: 8px;
}

.r_back {
	background-color: #F0F7FF;
}

.ui-layout-content { /* Google IFRAME */
	background-color: #F0F7FF;
}