:root {

    --fc-button-text-color: rgb(88, 108, 177);
    --fc-button-bg-color: rgba(0, 0, 0, 0);
    --fc-button-border-color: rgb(88, 108, 177);

    --fc-button-hover-border-color: #1a252f;
    --fc-button-hover-bg-color: #eef0f7;

    --fc-button-active-bg-color: #8a98c8;

    --fc-today-bg-color: #eef0f7;
}